{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>


<div class="text-danger">
  <!-- SHOW ALL OF THE SONGS IN THIS PLAYLIST HERE -->
  {% if playlist.songs %}
    <h3>All Songs in This Playlist:</h3>
    <ul>
      {% for song in playlist.songs %}
        <li>{{ song.title }} by {{ song.artist }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No songs in this playlist yet.</p>
  {% endif %}
</div>

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/add-song">
    Add Song To Playlist
  </a>
</p>

{% endblock %}